[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
pandas = "*"
flask = "*"
gunicorn = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
requests = "*"
plotly = "*"
bs4 = "*"
pymysql = "*"
lxml = "*"
flask-cors = "*"
redis = "*"
rq = "*"
utils = "*"
numpy = "*"
statsmodels = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
