[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pandas = "*"
flask = "*"
gunicorn = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
requests = "*"
plotly = "*"
bs4 = "*"
urllib = "*"
pymysql = "*"

[requires]
python_version = "3.7"
